@model IEnumerable<WebUi.Models.WatchListEntryViewModel>

@{
    ViewBag.Title = "Index";
}

@if (false)
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js" type="text/javascript"></script>  
}

<script type="text/javascript">
    $(document).ready(
        function () {
            $('tbody tr').click(function () {
                var wasSelected = $(this).hasClass('row-selected');
                var sourceId = $(this).attr('id').substring(4);
                $('tbody tr').removeClass('row-selected');
                if (wasSelected) {
                    $('#selectedShow').find('#sourceIdForEpisode').attr('value', '-');
                    $('#selectedShow').find('#sourceIdForSeason').attr('value', '-');
                    $('#selectedShow').css('visibility', 'hidden');
                } else {
                    $(this).addClass('row-selected');
                    $('#selectedShow').css('visibility', 'inherit');
                    $('#selectedShow').find('#sourceIdForEpisode').attr('value', sourceId);
                    $('#selectedShow').find('#sourceIdForSeason').attr('value', sourceId);
                }
            });
        });
</script>

<div id="selectedShow" style="visibility:hidden">
    <div style="float:left">
        @using (Html.BeginForm("Watched", "WatchList"))
        {
            <input id="sourceIdForEpisode" name="sourceId" type="hidden" value="-" />
            <input type="submit" value="Mark episode as watched" />
        }
    </div>
    <div style="float:left;margin-left : 1em">
        @using (Html.BeginForm("WatchedSeason", "WatchList"))
        {
            <input id="sourceIdForSeason" name="sourceId" type="hidden" value="-" />
            <input type="submit" value="Mark season as watched" />
        }
    </div>
</div>

<table class="watchlist">
    <thead>
        <tr>
            <th class="date">
                Airdate
            </th>
            <th class="epno">
                Episode
            </th>
            <th class="name">
                Name
            </th>
        </tr>
    </thead>
    <tbody>
@{ var odd = true; }
@foreach (var item in Model)
{
    <tr class="@(odd ? "odd" : "even")" id="@String.Format("Show{0}", item.SourceId)">
        <td class="date">
            @Html.DisplayFor(modelItem => item.FormattedDate)
        </td>
        <td class="epno">
            @Html.DisplayFor(modelItem => item.FormattedEpisodeNo)
        </td>
        <td class="name">
            @Html.DisplayFor(modelItem => item.FormattedAndCompactedName)
        </td>
    </tr>
    odd = !odd;
}
    </tbody>
</table>
